* {
    padding: 0;
    margin: 0;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    height: 100px;
}

main {
text-align: center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    
}